NEXT_PUBLIC_SITE_URL=https://versatileinterior.com.bd
NEXT_PUBLIC_MEDIA_BASE_URL=https://pub-a04264e3824f4e5abf5c1deed24d01b2.r2.dev
NEXT_PUBLIC_CLARITY_ID=xkf5ff3o80

# Add these after account setup.
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_GA_MEASUREMENT_ID=
NEXT_PUBLIC_META_PIXEL_ID=
NEXT_PUBLIC_MICROSOFT_UET_ID=
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=
NEXT_PUBLIC_BING_SITE_VERIFICATION=
